@model ParticipantListResponse

@{
    ViewData["Title"] = "Participants";
}

<h1>Participants</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Data != null)
{
    @foreach (var item in Model.Data) {
        <tr>
            <td>@item.ParticipantName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParticipantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParticipantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParticipantId">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
